[View in Colaboratory](https://colab.research.google.com/github/Freevolity/freevolity/blob/master/Dealing_with_Data.ipynb)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import norm

%matplotlib inline

#How to deal with open data?
##1. Reading data
 
 There are lots of open data portals, where you can find data according to your area of interest. 
 
 In our case, we'll use **CERN open data portal**. *(http://opendata.cern.ch/)*
 
 To read the data you should create an array and  use  **pd.read_csv** function to fill this array with the data from the data source. 
 
The link to the data portal is the argument of the  **pd.read_csv**  function.
 
 *Note*: data should be a* .csv* file
 
 **Example:**
 
 demo = pd.read_csv('https://www.opendatani.gov.uk/dataset/62e7073f-e924-4d3f-81a5-ad45b5127682/resource/bf80a212-7b2b-4548-9e7e-ceb5b6344980/download/northern-ireland-by-single-year-of-age-and-gender-mid-1971-to-mid-2017.csv')
 



**Task 1.**


We'll use the 2012 sample from CMS experiment (CERN, Geneve). 

** Name the array and read the data from http://opendata.cern.ch/record/545/files/Dimuon_DoubleMu.csv file.**

In [2]:
muons = pd.read_csv('http://opendata.cern.ch/record/545/files/Dimuon_DoubleMu.csv')

##2. Revealing data.
As you have noticed, nothing has changed. The data is read and put in your array, but the information is still "invisible" to you. 

What can be done?

If I ask you to draw the table, what would be your very first question? 
Probably, the number of rows ( = number of experimental measurements = length of the array)

**Pre-task**:

Try to guess the length of the array you just filled and type it is a separate text cell.

12

Actually, we can find out the length of an array using function *len(array's_name)*

**Task 2. **
Find the length of your array in the code cell below.

In [3]:
len(muons)

100000

**Task 3.**
*Discussion*: Why so much data?

**Task 4.** *Brainstorming*: What particle properties can be measured in the experiment? Type your suggestions in the text cell below

energy or smth

**Task 5. **

Now it's time for us to shed some light on the data content.


Use the function **array's_name.head()** to take a look at the first 5 rows of the data.

In [4]:
muons.head()

,Run,Event,type1,E1,px1,py1,pz1,pt1,eta1,phi1,...,type2,E2,px2,py2,pz2,pt2,eta2,phi2,Q2,M
0,165617,74601703,G,9.6987,-9.5104,0.3662,1.8633,9.5175,0.1945,3.1031,...,G,9.7633,7.3277,-1.1524,6.3473,7.4178,0.7756,-0.1560,1,17.4922
1,165617,75100943,G,6.2039,-4.2666,0.4565,-4.4793,4.2910,-0.9121,3.0350,...,G,9.6690,7.2740,-2.8211,-5.7104,7.8019,-0.6786,-0.3700,1,11.5534
2,165617,75587682,G,19.2892,-4.2121,-0.6516,18.8121,4.2622,2.1905,-2.9881,...,G,9.8244,4.3439,-0.4735,8.7985,4.3697,1.4497,-0.1086,1,9.1636
3,165617,75660978,G,7.0427,-6.3268,-0.2685,3.0802,6.3325,0.4690,-3.0992,...,G,5.5857,4.4748,0.8489,-3.2319,4.5546,-0.6605,0.1875,1,12.4774
4,165617,75947690,G,7.2751,0.1030,-5.5331,-4.7212,5.5340,-0.7736,-1.5522,...,G,7.3181,-0.3988,6.9408,2.2825,6.9523,0.3227,1.6282,1,14.3159

##3. Understanding data



As you can see, there are two particles: every characteristic with index 1 or 2 corresponds to the particle 1 or 2 respectively.


**E** - particle's energy;

**px, py, pz** -  *x,y,z*-components of the particle's  momentum respectively;

**pt** - the combination of px and py (component of the momentum that is perpendicular to the beam's movement direction);

**eta, phi** - angles that describe particle movement direction;


**Q** - electrical charge of a particle;

**M** - invariant mass.

## Presenting the data